.nav-menu {
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  margin-bottom: 0;
}
.nav-menu li {
  display: inline;
  list-style: none;
  margin-right: 1rem;
}
.nav-menu li a {
  text-decoration: none;
  font-size: 1.2rem;
}

.container-icon-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.container-icon-info .icon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 7rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
.container-icon-info .icon-info i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.container-icon-info .icon-info span {
  font-size: 0.6rem;
}

.btn-base {
  background: none;
  padding: 0.4rem 2rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.card-project {
  width: 22rem;
  position: relative;
}
.card-project .card-img {
  -o-object-fit: contain;
     object-fit: contain;
}
.card-project .overlay {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.card-project .overlay .overlay-title {
  font-size: 1.2rem;
}
.card-project .overlay .overlay-parrafo {
  font-size: 0.7rem;
  padding: 1rem 0;
}
.card-project .overlay:hover {
  transform: scale(1.02);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.938);
  margin-top: 0;
  padding: 1rem 0;
}
.nav-header .nav-menu li a {
  color: rgb(232, 240, 240);
}
.nav-header .nav-menu li a:hover {
  color: rgb(8, 121, 121);
}
.nav-header .nav-alias {
  font-size: 2rem;
  color: azure;
  justify-content: flex-start;
}
.nav-header .hamb {
  font-size: 2rem;
  color: azure;
}

.sec-home {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.938), rgba(0, 0, 0, 0.808)), url("../assets/img/programming.jpg");
  min-height: 100vh;
  background-size: cover;
}

.sec-about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.87);
  color: azure;
}
.sec-about .about {
  max-width: 60rem;
  padding: 4rem 2rem;
}
.sec-about .about .about-title {
  text-align: center;
  margin: 2rem 0;
}
.sec-about .about .about-info {
  font-size: 1rem;
}
.sec-about .about .about-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.sec-about .about .about-data .about-data-contact {
  margin-top: 0;
}
.sec-about .about .about-data .about-data-contact .about-contact-title {
  font-size: 1.7rem;
}
.sec-about .about .about-data .about-data-contact .about-contact {
  list-style: none;
  padding-left: 0;
}
.sec-about .about .about-data .about-data-interests .about-interest-title {
  font-size: 1.7rem;
  margin: 1rem 0;
}
.sec-about .about .about-data .about-data-interests .container-icon-info .icon-info {
  background-color: rgba(48, 46, 46, 0.87);
  transition: 0.3s;
}
.sec-about .about .about-data .about-data-interests .container-icon-info .icon-info:hover {
  background-color: rgb(8, 121, 121);
}
.sec-about .about .btn-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.sec-about .about .btn-cv .btn-base {
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  border: 1px solid azure;
  transition: 0.3s;
  position: relative;
}
.sec-about .about .btn-cv .btn-base span {
  opacity: 1;
}
.sec-about .about .btn-cv .btn-base i {
  font-weight: 700;
  opacity: 0;
  font-size: 1.5rem;
  position: absolute;
}
.sec-about .about .btn-cv .btn-base:hover {
  background-color: rgb(8, 121, 121);
}
.sec-about .about .btn-cv .btn-base:hover span {
  opacity: 0;
}
.sec-about .about .btn-cv .btn-base:hover i {
  opacity: 1;
}

.sec-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.822);
  color: azure;
  flex-direction: column;
  padding: 2rem 0;
}
.sec-skill .skill-title {
  text-align: center;
  padding-bottom: 1rem;
}
.sec-skill .skill-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}
.sec-skill .skill-data .technical-skills .skill-title {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.sec-skill .skill-data .technical-skills .container-icon-info .icon-info {
  background-color: rgba(87, 86, 86, 0.966);
  transition: 0.3s;
}
.sec-skill .skill-data .technical-skills .container-icon-info .icon-info:hover {
  background-color: rgb(8, 121, 121);
}
.sec-skill .skill-data .professional-skills .skill-title {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.sec-skill .skill-data .professional-skills .container-icon-info .icon-info {
  background-color: rgba(87, 86, 86, 0.966);
  transition: 0.3s;
}
.sec-skill .skill-data .professional-skills .container-icon-info .icon-info:hover {
  background-color: rgb(8, 121, 121);
}

.sec-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.87);
  color: azure;
  flex-direction: column;
}
.sec-projects .title-projects {
  margin-top: 4rem;
}
.sec-projects .container-projects {
  width: 100%;
  margin: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-wrap: wrap;
  gap: 2rem;
}
.sec-projects .container-projects .card-project .overlay {
  background: linear-gradient(rgba(28, 21, 128, 0.911), rgba(8, 121, 121, 0.904));
}
.sec-projects .container-projects .card-project .overlay .btn-base {
  color: azure;
  border: 1px solid azure;
  transition: 0.3s;
  padding: 0.4rem 2rem;
  font-size: 0.8rem;
  color: azure;
  text-decoration: none;
}
.sec-projects .container-projects .card-project .overlay .btn-base i {
  font-weight: 700;
  margin-left: 0.5rem;
}
.sec-projects .container-projects .card-project .overlay .btn-base:hover {
  background-color: rgba(28, 21, 128, 0.904);
}/*# sourceMappingURL=estilos.css.map */