@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin display-form($color-text) {
    padding: 1rem;
    border-width: 1px;
    border-radius: 0.3rem;
    outline: none;
    background-color: rgba(8, 8, 8, 0.966);
    color: $color-text;
    font-size: 0.9rem;
}

@mixin redes($size, $b-radius, $padding, $color-text-redes, $color-hover) {
     @include flex(center, center);
        gap: 1.5rem;
        a {
            i {
                font-size: $size;
                color: $color-text-redes;
                padding: $padding;
                border-radius: $b-radius;
                border: 1px solid $color-text-redes;
                &:hover {
                    color: $color-hover;
                    border: 1px solid $color-hover; 
                    transform: scale(1.1);
                }
            }
        }
}