$background-color-dark: rgb(36,37,41);
$background-color-nav: rgba(0, 0, 0, 0.938);
$color-text-dark: #f4f7f7;
$color-text-nav: rgb(232, 240, 240);
$color-hover: rgb(52, 224, 173);
$background-icon-skill: rgba(87, 86, 86, 0.966);
$color-hover-icons: rgb(3, 139, 133);