$background-color-dark: rgba(0, 0, 0, 0.87);
$background-color-nav: rgba(0, 0, 0, 0.938);
$color-text-dark: #f4f7f7;
$color-text-nav: rgb(232, 240, 240);
$color-hover: rgb(7, 206, 23);
$background-icon-skill: rgba(87, 86, 86, 0.966);