@use "components";
@use "mixin" as *;
@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.nav-header {
    @include flex(space-around , center);
    background-color: $background-color-nav;
    margin-top: 0;
    padding: 1.3rem 0;
    position: relative;
    .nav-menu {
        padding: 0 3rem;
        left: 100%;
        transition: left 0.9s;
        li{
            a{transition: .45s;
                color: $color-text-nav;
                &:hover {
                    color: $color-hover; 
                }
            }
        }
    }
    
    .nav-alias {
        font-size: 1.8rem;
        color: $color-hover ;
        position: absolute;
        left: 2rem;
    }
    .hamb {
        font-size: 2rem;
        color: $color-text-dark;
        position: absolute;
        right: 2rem;
        cursor: pointer;
        &:hover {
            color: $color-hover;
        }
    }
    .responsive {
        left: 50%;
    }
}

.sec-home {
    @include flex(center , center);
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.411)), url("../assets/img/programming.jpg");
    min-height: 100vh;
    background-size: cover;
    padding: 2rem;
    width: 100%;
    object-position: center center;
    .home {
        @include flex(center , center);
        gap: 1rem;
        width: 100%;
        .sec-info-home {
            color: $color-text-dark;
           
            .presentation{
                display: block;
                p{
                    font-size: 3rem;
                    margin-bottom: 0;
                    font-weight: bold;
                    span {
                        color: $color-hover; 
                    }
                }
                .greeting{
                    display: inline-block;
                    .typed-welcome{
                        overflow: hidden;
                        border-right: 0.18rem solid $color-hover;
                        padding-right: 5px;
                        font-size: 1.5rem;
                        font-weight: 600;
                        width: 0;
                        white-space: nowrap;
                        animation: typing 2s steps(20, end) forwards, blink 1.5s infinite;  
                    }
                    .typed-office{
                        animation: typing 3s steps(25, end) forwards, blink 1.5s infinite;
                        animation-delay: 3s;
                    }
                   
                }
                @keyframes typing{
                    from{
                        width: 0;
                    }
                    to{
                        width: 100%;
                    }
                }
                
                @keyframes blink{
                    from { 
                        border-color: transparent 
                    }
                    to {
                        border-color: $color-hover; 
                    }
                }
                
            }
               
          
            
        }
        .sec-img-home {
            @include flex(center , center);
            flex-direction: column;
            .img-home {
                width: 13rem;
                height: auto;
                border-radius: 50%;
            }
            .redes {
                margin: 2rem;
                @include redes(1.3rem, 10%, 0.5rem, $color-text-dark, $color-hover);
                box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                transform: translatey(0px);
                animation: float 4s ease-in-out infinite;
                img { width: 100%; height: auto; }
            }
            @keyframes float {
                0% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translatey(0px);
                }
                50% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translatey(-14px);
                }
                100% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translatey(0px);
                }
            }
        }
        
    }
   
}

.sec-about {
    @include flex(center, center);
    min-height: 100vh;
    background-color: $background-color-dark;
    color: $color-text-dark;
   
    .about {
       max-width: 60rem;
       padding: 2rem;
       .about-info {
        font-size: 1rem;
        padding: 0 1rem;
        margin-bottom: 2rem;
       }
       .about-data {
        @include flex(center, flex-start);
        gap: 1rem;
        flex-wrap: wrap;
            .about-data-contact {
                margin-top: 0;
                .about-contact-title {
                    font-size: 1.7rem;
                }
                .about-contact {
                    list-style: none;
                    padding-left: 0;
                    span {
                        color: $color-hover;
                    }
                }

            }
            .about-data-interests {
                .about-interest-title {
                font-size: 1.7rem;
                margin-bottom: 1rem;
                text-align: center;
                }
                .container-icon-info {
                    .icon-info {
                        border-radius: 50%;
                        width: 6rem;
                        padding: 1.2rem 0;
                        background-color: $color-hover-icons;  
                        color: $background-color-dark; 
                        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                    }
                   
                }
            }
        }
        .btn-cv {
        @include flex(center, center);
        padding-top: 3rem;
        
            .btn-base {
                position: relative;
                font-size: 1.3rem; 
                text-decoration: none;
                color: $color-text-dark;
                border: 1px solid $color-text-dark;
                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    top: 0; right: 0; bottom: 0; left: 0;
                    inset: 0 0 0 0;
                    background: $color-hover;
                    transition: transform 0.8s ease;
                    transform: scaleX(0);
                    transform-origin: bottom right;  
                }
                &:hover {
                    color: $color-hover;
                    border: 1px solid $color-hover;
                    &::before {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            
            }
            i {
                color: $color-text-dark;
            }
       }
    }
}

.sec-skill {
    @include flex(center, center);
    min-height: 100vh;
    background-color: rgba(36, 37, 41, 0.986);
    color: $color-text-dark;
    flex-direction: column;
    padding: 2rem 0;
    
    .skill-title {
        text-align: center;
        padding-bottom: 1rem; 
       
    }
    .skill-data {
        @include flex(center, flex-start);       
        width: 100%;
        flex-wrap: wrap;
        gap: 3rem;
        .technical-skills {
            .skill-title {
                font-size: 1.3rem;
                margin-bottom: 2rem;
            }
            .container-icon-info {
                .icon-info {
                    background-color: $background-icon-skill;
                    transition: transform 1s;
                    &:hover {
                        background-color: $color-hover-icons; 
                        transform: translateY(-5px);
                        color: $background-color-dark; 
                        i {
                            font-size: 3.2rem;
                            margin-bottom: 0;
                        }
                        span {
                            font-size: 0;
                        }
                    }
                }
                
            }
        }
        .professional-skills {
            .skill-title {
                font-size: 1.2rem;
                margin-bottom: 2rem;
            }
            .container-icon-info {
                .icon-info {
                    background-color: $background-icon-skill;
                    transition: .9s;
                    &:hover {
                        background-color: $color-hover-icons;
                        color: $background-color-dark; 
                        scale: 1.05;
                    }
                }
                
            }
        }
    }
    
}

.sec-projects {
    @include flex(center, center);
    min-height: 100vh;
    color: $color-text-dark;
    background-color: $background-color-dark;
    flex-direction: column;
    padding: 2rem;
    .title-projects {
        margin-top: 4rem;
    }
    .container-projects {
        width: 100%;
        margin: 2rem 4rem;
        @include flex(center, none);
        flex-wrap: wrap;
        gap: 2rem;
        .card-project {
              box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            .proyect-title  {
                background-color: rgba(4, 63, 6, 0.95);
                color: $color-hover;
                font-size: 1rem;
            }
            .overlay {
                background: linear-gradient(rgb(0,70,67), rgb(3, 139, 133));
                .btn-base {
                    color: $color-text-dark;
                    border: 1px solid $color-text-dark ;
                    transition: .3s;
                    padding: 0.4rem 2rem;
                    font-size: 0.8rem;
                    color: $color-text-dark;
                    text-decoration: none;
                    i {
                        font-weight: 700;
                        margin-left: 0.5rem;
                    }
                    &:hover {
                        background-color: rgb(0,70,67); 
                    }
                }
            }
           
        }
        
    }
}

.sec-contact {
    @include flex(center, center);
    min-height: 100vh;
    color: $color-text-dark;
    flex-direction: column;
    padding: 2rem 0;
    background-color: rgba(0,0,0,1);
    opacity: 0.9;
    background-image: radial-gradient(#2d2d2d 1.3px, rgba(0,0,0,1) 1.3px);
    background-size: 26px 26px;
    .container {
        @include flex(center, center);
        form {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding: 0.8rem;
            gap: 1.5rem;

            .data-input {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;  
                label {
                    width: 49%;
                }
            }
            label {
                display: flex;
                flex-direction: column;
                span {
                    display: flex;
                    justify-content: flex-start;
                    font-size: 1.1rem;
                }
                input {
                    width: 100%;
                    @include display-form($color-text-dark);
                }
                textarea {
                    @include display-form($color-text-dark);
                }
            }
            .btn-form {
                @include flex(center, center);
                padding: 1rem;
                .btn-base {
                    background-color: $background-color-nav;
                    color: $color-text-dark;
                    border: 1px solid $color-text-dark;
                    i {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
    
}

.sec-footer {
  
    padding: 4rem 0;
    background-color: rgba(0,0,0,1);
    .redes {
        @include redes(1.5rem, 50%, 1rem, $color-text-dark, $color-hover);
    }
}

.msg-error {
    font-size: 0.9rem;
    padding: 0.4rem;
    color: $color-text-dark;
}

.msg-success {
    text-align: center;
    border: 1px solid rgb(19, 214, 117);
    color: $color-hover;
}

.border-error {
    border: 1px solid red;
}
.border-success {
    border: 4px solid rgb(11, 235, 96);
}

.btn-disabled {
    opacity: 50%;
}




@media (max-width: 820px) { 
    .nav-header {
        padding: 1.5rem 0;
        .nav-menu {
            justify-content: space-between;
            li{
                a{
                    font-size: 1rem;
                }
            }
        }
        .nav-alias {
            font-size: 1.2rem;
            left: 1.2rem;
        }
        .hamb {
            font-size: 1.5rem;
        }
    }

    .sec-home {
        .home {
            .sec-info-home {
                .presentation{
                    p{
                        font-size: 2rem;
                    }
                    .greeting{
                        .typed-welcome{
                            font-size: 1.2rem;
                        }   
                    }      
                } 
            }
            .sec-img-home {
                .img-home {
                    width: 9rem;
                }
                .redes {
                    @include redes(1rem, 10%, 0.5rem, $color-text-dark, $color-hover);
                }
            }
        }  
    }

    .sec-contact {
        .container {
            form {
                .data-input {
                    label {
                        width: 100%;
                    }
                }
            }
        }
        
    }
}

@media (max-width: 767.98px) { 
    .nav-header {
        position: fixed;
        height: 3rem;
        top: 0;
        min-width: 100%;
        z-index: 1;
        .nav-menu {
            display: block;
            position: fixed;
            background-color: black;
            text-align: center;
            padding: 2rem;
            top: 3rem;
            min-height: 50vh;
            z-index: 1;
            right: 0;
            margin-bottom: 1rem;

            li{
                display: block;
                border-bottom: 1px solid $color-hover;
                padding-left: 1rem 0;
                margin-right: 0;
                margin-bottom: 0.6rem;
            }
        }
    }
    .sec-home {
        .home {
            gap: 3rem;
            .sec-info-home {
                width: 40%;
                .presentation{
                    p{
                        font-size: 2rem;
                    }
                    .greeting{
                        .typed-welcome{
                            font-size: 1.2rem;
                        }   
                    }      
                }   
            }
            .sec-img-home {
                .img-home {
                    width: 9rem;
                }
                .redes {
                    @include redes(1rem, 10%, 0.5rem, $color-text-dark, $color-hover);
                }
            }
        }  
    }
    .sec-title {
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.8rem;
        }
    }
}


@media (max-width: 576.98px) { 

    .sec-home {
        .home {
            gap: 3rem;
            flex-direction: column-reverse;
            .sec-info-home {
                .presentation{
                    p{
                        font-size: 1.5rem;
                    }
                    .greeting{
                        .typed-welcome{
                            font-size: 0.9rem;
                        }   
                    }      
                }   
            }
            .sec-img-home {
                .img-home {
                    margin-top: 3rem;
                    width: 9rem;
                }
                .redes {
                    display: none;
                }
            }
        }  
    }

    .sec-about {
        .about {
           .about-info {
            font-size: 0.8rem;
           }
           .about-data {
                .about-data-contact {
                    .about-contact-title {
                        font-size: 1.2rem;
                    }
                    .about-contact {
                        font-size: 0.8rem;
                    }
    
                }
                .about-data-interests {
                    .about-interest-title {
                    font-size: 1.2rem;
                    }
                }
           }
           .btn-cv {
            .btn-base {
                i {
                    font-size: 1.2rem;
                }
            }
           }
        }
    }

    .sec-projects {
        .container-projects {
            .card-project {
                .proyect-title  {
                    font-size: 0.8rem;
                }
                .overlay {
                    padding: 0.9rem;
                    .overlay-parrafo {
                        font-size: 0.6rem;
                    } 
                    .btn-base {
                        font-size: 0.6rem;
                    }
                }
               
            }
            
        }
    }
    
}

@media (max-width: 365.98px) { 

    .sec-home {
        min-height: 80vh;
        .home {
            gap: 2rem;
            flex-direction: column-reverse;
            .sec-info-home {
                width: 60%;
                .presentation{
                    p{
                        font-size: 1.5rem;
                    }
                    .greeting{
                        .typed-welcome{
                            font-size: 0.9rem;
                        }   
                    }      
                }   
            }
            .sec-img-home {
                .img-home {
                    width: 9rem;
                }
                .redes {
                    display: none;
                }
            }
        }  
    }

}

